<html>
  <head>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h2>Hello California</h2>
    <form class="" action="/api" method="post">
      First Name: <input type="text" name="firstName" value="" /><br />
      Last Name: <input type="text" name="lastName" value="" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
